export(quick_wd_from_active_file)
export(quick_wd_from_clipboard)
importFrom(rstudioapi, filesPaneNavigate)
importFrom(rstudioapi, getActiveDocumentContext)
importFrom(rstudioapi, isAvailable)
importFrom(rstudioapi, navigateToFile)
